/.vs/ProjectEvaluation/todolistservice.metadata.v5.2
/.vs/ProjectEvaluation/todolistservice.projects.v5.2
/.vs/ToDoListService/FileContentIndex/c97b7782-6627-42cf-b378-a97ffd1cc7f4.vsidx
/.vs/ToDoListService/FileContentIndex/read.lock
/.vs/ToDoListService/v17/.futdcache.v2
/.vs/ToDoListService/v17/.suo
/.vs/ToDoListService/v17/TestStore/0/000.testlog
/.vs/ToDoListService/v17/TestStore/0/testlog.manifest
/bin/Debug/net6.0/appsettings.Development.json
/bin/Debug/net6.0/appsettings.json
/bin/Debug/net6.0/Microsoft.OpenApi.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/bin/Debug/net6.0/ToDoListService.deps.json
/bin/Debug/net6.0/ToDoListService.dll
/bin/Debug/net6.0/ToDoListService.exe
/bin/Debug/net6.0/ToDoListService.pdb
/bin/Debug/net6.0/ToDoListService.runtimeconfig.json
/obj/Container/AbsoluteOutputAssemblyPath.cache
/obj/Container/AdditionalProbingPaths.cache
/obj/Container/ContainerCreationResult.cache
/obj/Container/ContainerDevelopmentMode.cache
/obj/Container/ContainerId.cache
/obj/Container/ContainerName.cache
/obj/Container/ContainerOperatingSystemFlavor.cache
/obj/Container/ContainerRunContext.cache
/obj/Container/DebuggeeArguments.cache
/obj/Container/DebuggeeKillProcessCommand.cache
/obj/Container/DebuggeeProgram.cache
/obj/Container/DebuggeeWorkingDirectory.cache
/obj/Container/FastModeProjectMountDirectory.cache
/obj/Container/ImageBuildContext.cache
/obj/Container/ImageId.cache
/obj/Container/OperatingSystemName.cache
/obj/Container/TargetFramework.cache
/obj/Container/VolumeMappings.cache
/obj/Container/VsDbgScript.cache
/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/obj/Debug/net6.0/apphost.exe
/obj/Debug/net6.0/ref/ToDoListService.dll
/obj/Debug/net6.0/refint/ToDoListService.dll
/obj/Debug/net6.0/staticwebassets.build.json
/obj/Debug/net6.0/staticwebassets/msbuild.build.ToDoListService.props
/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.ToDoListService.props
/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.ToDoListService.props
/obj/Debug/net6.0/ToDoListService.AssemblyInfo.cs
/obj/Debug/net6.0/ToDoListService.AssemblyInfoInputs.cache
/obj/Debug/net6.0/ToDoListService.assets.cache
/obj/Debug/net6.0/ToDoListService.csproj.AssemblyReference.cache
/obj/Debug/net6.0/ToDoListService.csproj.BuildWithSkipAnalyzers
/obj/Debug/net6.0/ToDoListService.csproj.CopyComplete
/obj/Debug/net6.0/ToDoListService.csproj.CoreCompileInputs.cache
/obj/Debug/net6.0/ToDoListService.csproj.FileListAbsolute.txt
/obj/Debug/net6.0/ToDoListService.dll
/obj/Debug/net6.0/ToDoListService.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net6.0/ToDoListService.genruntimeconfig.cache
/obj/Debug/net6.0/ToDoListService.GlobalUsings.g.cs
/obj/Debug/net6.0/ToDoListService.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net6.0/ToDoListService.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net6.0/ToDoListService.pdb
/obj/project.assets.json
/obj/project.nuget.cache
/obj/ToDoListService.csproj.nuget.dgspec.json
/obj/ToDoListService.csproj.nuget.g.props
/obj/ToDoListService.csproj.nuget.g.targets
